{% extends "base.html" %}

{% block content %}
	<h1>Sing in</h1>
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}<br>
			{% for error in form.username.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}<br>
			{% for error in form.password.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
		<p>{{ form.submit() }}</p>
	</form>
	<h2>New user?</h2>
	<p><a href="{{ url_for('register') }}">Register</a></p>
	<h2>Forgot Your Password?</h2>
    <p><a href="{{ url_for('reset_password_request') }}">Request a new one</a></p>
{% endblock %}
